CALCULATIONS WITH MISSING VALUES --

In [1]:
#24-FEB
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)

     A    B     C
0  1.0    a  10.0
1  2.0  NaN   NaN
2  NaN    c   NaN

In [2]:
#isnull()
print(df['A'].isnull())

0    False
1    False
2     True
Name: A, dtype: bool

In [3]:
#ISNULL()
#NOTNULL()
df=pd.DataFrame(np.random.randn(5,3),index=['a','b','c','d','e'],columns=['one','two','three'])
print(df)
df=df.reindex(['p','b','c','d','q'])
print(df.isnull())
print(df.notnull())

        one       two     three
a -0.363884 -0.335853 -1.611582
b  0.730690 -1.391420 -1.269513
c  1.782106  0.190313  0.739957
d -1.330532 -0.061400 -0.765338
e -2.074958 -1.204099 -1.259711
     one    two  three
p   True   True   True
b  False  False  False
c  False  False  False
d  False  False  False
q   True   True   True
     one    two  three
p  False  False  False
b   True   True   True
c   True   True   True
d   True   True   True
q  False  False  False

In [4]:
#SUM()
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)
print(df['A'].sum())
print(df['B'].sum())
print(df['C'].sum())

     A    B     C
0  1.0    a  10.0
1  2.0  NaN   NaN
2  NaN    c   NaN
3.0
ac
10.0

In [5]:
#COUNT()
print(df['A'].count())
print(df['B'].count())
print(df['C'].count())
print(df.value_counts())   # returns the count of not null row wise
print(df.count())          # counts ths not null column wise

2
2
1
A    B  C
1.0  a  10.0    1
Name: count, dtype: int64
A    2
B    2
C    1
dtype: int64

In [6]:
# FILL()
df=pd.DataFrame({'A':[1,2,3],'B':['a',np.nan,'c'],'C':[10,np.nan,20]})
df1=df.fillna(value='Cat')
print(df1)

   A    B     C
0  1    a  10.0
1  2  Cat   Cat
2  3    c  20.0

In [7]:
#DROPNA()
df=pd.DataFrame({'A':[1,2,3],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)
print(df.dropna())

   A    B     C
0  1    a  10.0
1  2  NaN   NaN
2  3    c   NaN
   A  B     C
0  1  a  10.0