CALCULATIONS WITH MISSING VALUES --

In [1]:
#24-FEB
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)

     A    B     C
0  1.0    a  10.0
1  2.0  NaN   NaN
2  NaN    c   NaN

In [2]:
#isnull()
print(df['A'].isnull())

0    False
1    False
2     True
Name: A, dtype: bool

In [3]:
#ISNULL()
#NOTNULL()
df=pd.DataFrame(np.random.randn(5,3),index=['a','b','c','d','e'],columns=['one','two','three'])
print(df)
df=df.reindex(['p','b','c','d','q'])
print(df.isnull())
print(df.notnull())

        one       two     three
a -0.363884 -0.335853 -1.611582
b  0.730690 -1.391420 -1.269513
c  1.782106  0.190313  0.739957
d -1.330532 -0.061400 -0.765338
e -2.074958 -1.204099 -1.259711
     one    two  three
p   True   True   True
b  False  False  False
c  False  False  False
d  False  False  False
q   True   True   True
     one    two  three
p  False  False  False
b   True   True   True
c   True   True   True
d   True   True   True
q  False  False  False

In [4]:
#SUM()
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':[1,2,np.nan],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)
print(df['A'].sum())
print(df['B'].sum())
print(df['C'].sum())

     A    B     C
0  1.0    a  10.0
1  2.0  NaN   NaN
2  NaN    c   NaN
3.0
ac
10.0

In [5]:
#COUNT()
print(df['A'].count())
print(df['B'].count())
print(df['C'].count())
print(df.value_counts())   # returns the count of not null row wise
print(df.count())          # counts ths not null column wise

2
2
1
A    B  C
1.0  a  10.0    1
Name: count, dtype: int64
A    2
B    2
C    1
dtype: int64

In [6]:
# FILL()
df=pd.DataFrame({'A':[1,2,3],'B':['a',np.nan,'c'],'C':[10,np.nan,20]})
df1=df.fillna(value='Cat')
print(df1)

   A    B     C
0  1    a  10.0
1  2  Cat   Cat
2  3    c  20.0

In [7]:
#DROPNA()
df=pd.DataFrame({'A':[1,2,3],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df)
print(df.dropna())

   A    B     C
0  1    a  10.0
1  2  NaN   NaN
2  3    c   NaN
   A  B     C
0  1  a  10.0

In [8]:
#25-FEB
#fillna()
df=pd.DataFrame({'A':[1,2,3],'B':['a',np.nan,'c'],'C':[10,np.nan,np.nan]})
print(df.fillna(3))

   A  B     C
0  1  a  10.0
1  2  3   3.0
2  3  c   3.0

In [9]:
#filling mean or sum values of the column in place of nan 
print(df['A'].fillna(value=df['A'].mean()))
print(df['A'].fillna(value=df['A'].sum()))

0    1
1    2
2    3
Name: A, dtype: int64
0    1
1    2
2    3
Name: A, dtype: int64

In [10]:
#print(df.fillna(value=df['A'].mean()))
print(df.fillna(value=df['C'].mean()))

   A     B     C
0  1     a  10.0
1  2  10.0  10.0
2  3     c  10.0

In [11]:
#thresh() with drop()  thresh- counts least not null value in a column to remove 
df=pd.DataFrame({'A':[1,2,np.nan],'B':[4,5,10],'C':[10,np.nan,np.nan]})
print(df,"\n\n")
print(df.dropna(thresh=2))

     A   B     C
0  1.0   4  10.0
1  2.0   5   NaN
2  NaN  10   NaN


     A  B     C
0  1.0  4  10.0
1  2.0  5   NaN

In [12]:
#REPLACE FUNC
df=pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,20,40,50]})
print(df,"\n\n")
print(df.replace({1000:10,2000:0}))

    one   two
0    10  1000
1    20     0
2    30    30
3    40    20
4    50    40
5  2000    50


   one  two
0   10   10
1   20    0
2   30   30
3   40   20
4   50   40
5    0   50

GROUPBY() 
1. aggregation   - computing a summary statics
2. transformation  - perform some group-specific operation
3. filteration   - discarding the data with some condition

In [13]:
import pandas as pd
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],
          'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
          'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
          'points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
print(df)

      Team  Rank  Year  points
0   Riders     1  2014     876
1   Riders     2  2015     789
2   Devils     2  2014     863
3   Devils     3  2015     673
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
9   Royals     4  2014     701
10  Royals     1  2015     804
11  Riders     2  2017     690

In [14]:
#Splitting data into groups
df1=df.groupby('Year').groups
print(df1,"\n\n")
df2=df.groupby('Team').groups
print(df2,"\n\n")
df3=df.groupby('Rank').groups
print(df3)

{2014: [0, 2, 4, 9], 2015: [1, 3, 5, 10], 2016: [6, 8], 2017: [7, 11]}


{'Devils': [2, 3], 'Kings': [4, 5, 6, 7], 'Riders': [0, 1, 8, 11], 'Royals': [9, 10]}


{1: [0, 6, 7, 10], 2: [1, 2, 8, 11], 3: [3, 4], 4: [5, 9]}

In [ ]:
#df1=df.groupby('Team').max()
#print(df1, "\n\n")
df2=df.groupby('Year').max()
print(df2)

In [1]:
# 26-FEB
import pandas as pd
ipl_data={'Team':['Riders','Riders','Devils','Devils','Kings','Kings','Kings','Kings','Riders','Royals','Royals','Riders'],
          'Rank':[1,2,2,3,3,4,1,1,2,4,1,2],
          'Year':[2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
          'points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df1=df.groupby('Team').max()['points']
print(df1)

Team
Devils    863
Kings     812
Riders    876
Royals    804
Name: points, dtype: int64

In [2]:
df1=df.groupby('Year')['Rank'].mean()
print(df1)
df2=df.groupby('Year')['Rank'].count()
print(df2)
df3=df.groupby('Year')['Rank'].sum()
print(df3)
df4=df.groupby('Year')['Rank'].std()
print(df4)

Year
2014    2.5
2015    2.5
2016    1.5
2017    1.5
Name: Rank, dtype: float64
Year
2014    4
2015    4
2016    2
2017    2
Name: Rank, dtype: int64
Year
2014    10
2015    10
2016     3
2017     3
Name: Rank, dtype: int64
Year
2014    1.290994
2015    1.290994
2016    0.707107
2017    0.707107
Name: Rank, dtype: float64

In [3]:
df1=df.groupby('Year')['Rank'].agg(["std","mean","max"])
print(df1)

           std  mean  max
Year
2014  1.290994   2.5    4
2015  1.290994   2.5    4
2016  0.707107   1.5    2
2017  0.707107   1.5    2

In [4]:
#score=lambda x:(x+10)
grouped=df.groupby('Team')
score=lambda x: (x+10)               #adding 10 to each rank, eg: 1+10 =11 
print(grouped.transform(score))

    Rank  Year  points
0     11  2024     886
1     12  2025     799
2     12  2024     873
3     13  2025     683
4     13  2024     751
5     14  2025     822
6     11  2026     766
7     11  2027     798
8     12  2026     704
9     14  2024     711
10    11  2025     814
11    12  2027     700

In [5]:
grouped=df.groupby('Team')
score=lambda x: (x+10)               #adding 10 to each rank, eg: 1+10 =11 
print(grouped['points'].transform(score))

0     886
1     799
2     873
3     683
4     751
5     822
6     766
7     798
8     704
9     711
10    814
11    700
Name: points, dtype: int64

In [6]:
#team count should be 3  more than 3
print(df.groupby('Team').filter(lambda x: len(x) >= 3))

      Team  Rank  Year  points
0   Riders     1  2014     876
1   Riders     2  2015     789
4    Kings     3  2014     741
5    Kings     4  2015     812
6    Kings     1  2016     756
7    Kings     1  2017     788
8   Riders     2  2016     694
11  Riders     2  2017     690