In [1]:
#19-FEB 
#PANDAS RANDOM FUNC
import numpy as np
import pandas as pd
from numpy.random import randn
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)

          x         y         z         w
a -0.519607 -0.203661  1.435538  1.733662
b  1.033668 -1.932404 -0.044148 -0.347151
c -1.765142  1.146004 -0.367161 -0.069415
d -0.312868  1.103484  0.241466  0.593317
e -1.451628  0.890380  0.142951 -0.058978

In [2]:
#SELECTION OF DATAFRAME
print(df<0)
print(df['x'])

       x      y      z      w
a   True   True  False  False
b  False   True   True   True
c   True  False   True   True
d   True  False  False  False
e   True  False  False   True
a   -0.519607
b    1.033668
c   -1.765142
d   -0.312868
e   -1.451628
Name: x, dtype: float64

In [3]:
print(df[df['x']>0]) #true value of x column and row of that true value will be displayed  df[true]
print(df[df>0])     #df[false=nan]

          x         y         z         w
b  1.033668 -1.932404 -0.044148 -0.347151
          x         y         z         w
a       NaN       NaN  1.435538  1.733662
b  1.033668       NaN       NaN       NaN
c       NaN  1.146004       NaN       NaN
d       NaN  1.103484  0.241466  0.593317
e       NaN  0.890380  0.142951       NaN

In [4]:
print(df[df['x']>0]['y'])

b   -1.932404
Name: y, dtype: float64

In [5]:
#SELECTION OF DATA FRAME USING LOGICAL OPERATOR
print(df[(df['x']>0) & (df['y']>1)]['y'])
print(df[(df['x']>0) | (df['y']>1)]['y'])

Series([], Name: y, dtype: float64)
b   -1.932404
c    1.146004
d    1.103484
Name: y, dtype: float64

In [6]:
#RESET INDEX
import numpy as np
import pandas as pd
from numpy.random import randn
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df.reset_index())

  index         x         y         z         w
0     a -0.119278  1.754548 -0.264489  0.700827
1     b  0.200000  0.136501 -1.503657 -2.053093
2     c -1.491090  0.863164 -0.917263  0.516144
3     d  0.142183  0.829525  0.459846 -1.221999
4     e  0.508831 -0.923755  0.604644 -1.971600

In [7]:
outer=['a','a','a','b','b','b']
inner=[1,2,3,1,2,3]
h_index=list(zip(outer,inner))
h_index=pd.MultiIndex.from_tuples(h_index)
df1=pd.DataFrame(randn(6,2))
print(df1)
df1=pd.DataFrame(randn(6,2),h_index)
print(df1)
df1=pd.DataFrame(randn(6,2),h_index,['A','B'])
print(df1)

          0         1
0 -2.347643  0.561571
1 -0.336284 -0.294673
2  0.058439  2.617386
3  0.405534  0.193133
4  0.446900 -0.248235
5 -0.086501 -0.503084
            0         1
a 1 -0.400021 -0.805594
  2  0.264759  0.061210
  3  0.681457  0.860596
b 1  0.441453 -0.356109
  2  0.812983  0.860175
  3  1.817063  1.317518
            A         B
a 1 -0.799735  0.331902
  2  0.901129 -0.012371
  3 -1.439505  0.264715
b 1  0.802177 -1.142842
  2 -1.016658 -0.249555
  3 -1.037032  0.198145

In [9]:
#23-FEB

df1.loc['a']
df1.loc['a'].loc[1]
df1.iloc[1].iloc[1]
df1.loc['a'].loc[1].loc['B']
df1.index.names=['X','Y']
print(df1)

            A         B
X Y
a 1 -1.388675 -0.456165
  2  1.158197  0.215162
  3  0.708784  0.942629
b 1 -0.157451  1.317372
  2 -1.445963 -0.986809
  3  0.298177 -0.443525

In [10]:
#RENAME INDEX
import numpy as np
from numpy.random import randn
df2=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print(df2)
print("AFTER RENAMING THE ROWS AND COLUMNS:")
df3=df2.rename(columns={'col1':'c1','col2':'c2'},index={0:'apple',1:'banana',2:'durian'})
print(df3)

       col1      col2      col3
0  0.750398  2.459467  1.056187
1 -0.628209  0.004456 -0.364778
2 -0.179606 -1.172848  0.242199
3  1.911159 -0.487614  0.607022
4  0.344371 -0.675820 -0.063692
5  0.173845  0.454787 -2.319205
AFTER RENAMING THE ROWS AND COLUMNS:
              c1        c2      col3
apple   0.750398  2.459467  1.056187
banana -0.628209  0.004456 -0.364778
durian -0.179606 -1.172848  0.242199
3       1.911159 -0.487614  0.607022
4       0.344371 -0.675820 -0.063692
5       0.173845  0.454787 -2.319205

In [11]:
#REINDEX
import numpy as np
from numpy.random import randn
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['x','y','z','w'])
print(df)

          x         y         z         w
a -0.069677  0.644579  0.133292  0.241077
b -2.544359 -0.573175 -0.374954  0.651288
c  1.154912  1.126575 -1.566728 -0.415338
d -0.711596 -0.730533  0.656588 -0.256045
e  1.521736  0.178058  0.159000 -1.379801

In [12]:
DF=df.reindex(index=['a','b','c','d','e'], columns=['x','y','p','q'])
print(DF)

          x         y   p   q
a -0.069677  0.644579 NaN NaN
b -2.544359 -0.573175 NaN NaN
c  1.154912  1.126575 NaN NaN
d -0.711596 -0.730533 NaN NaN
e  1.521736  0.178058 NaN NaN

In [13]:
DF=df.reindex(index=['a','b','c','d','AB'], columns=['x','y','p','q'])
print(DF)

           x         y   p   q
a  -0.069677  0.644579 NaN NaN
b  -2.544359 -0.573175 NaN NaN
c   1.154912  1.126575 NaN NaN
d  -0.711596 -0.730533 NaN NaN
AB       NaN       NaN NaN NaN