In [1]:
#18-FEB
#TRUNCATE FUNC IN SERIES
import pandas as pd
sr=pd.Series([19,34,56,78,67])
print(sr)
s1=sr.truncate(before=3)
print(s1)
s2=sr.truncate(before=2,after=3)
print(s2)

0    19
1    34
2    56
3    78
4    67
dtype: int64
3    78
4    67
dtype: int64
2    56
3    78
dtype: int64

In [2]:
#TRUNCATE FUNC IN DATAFRAME
df=pd.DataFrame({"A":[12,4,5,None,1],
                 "B":[7,2,54,3,None],
                 "C":[14,3,None,2,6]})
index_=['Row_1','Row_2','Row_3','Row_4','Row_5']
df.index=index_
print(df)
result=df.truncate(before='Row_3',after='Row_4')
print(result)

          A     B     C
Row_1  12.0   7.0  14.0
Row_2   4.0   2.0   3.0
Row_3   5.0  54.0   NaN
Row_4   NaN   3.0   2.0
Row_5   1.0   NaN   6.0
         A     B    C
Row_3  5.0  54.0  NaN
Row_4  NaN   3.0  2.0

In [3]:
#ITERATING OVER ROWS AND COLUMNS IN PANDAS DATAFRAME
#DICTIONARY AS LIST
dict={'name':["aparna","pankaj","sudir","geeku"],
      'degree':["MBA","BCA","M.Tech","MBA"],
      'score':[90,40,80,90]}
df=pd.DataFrame(dict)
#iterating over rows using iterrows() function
for i,j in df.iterrows():
    print(i,j)

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object
1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object
2 name       sudir
degree    M.Tech
score         80
Name: 2, dtype: object
3 name      geeku
degree      MBA
score        90
Name: 3, dtype: object

In [4]:
dict={'name':["aparna","pankaj","sudir","geeku"],
      'degree':["MBA","BCA","M.Tech","MBA"],
      'score':[90,40,80,90]}
for f,r in dict.items():
     print(f,r)
for f in dict:
    for r in dict[f]:
        print(r)

name ['aparna', 'pankaj', 'sudir', 'geeku']
degree ['MBA', 'BCA', 'M.Tech', 'MBA']
score [90, 40, 80, 90]
aparna
pankaj
sudir
geeku
MBA
BCA
M.Tech
MBA
90
40
80
90

In [5]:
#PANDAS DATAFRAME.SORT_VALUES() -1
dict={'name':["aparna","pankaj","sudir","geeku"],
      'degree':["MBA","BCA","M.Tech","MBA"],
      'score':[90,40,80,90]}
#sorting data frame by names
df=pd.DataFrame(dict)
df.sort_values("score",axis=0,ascending=True,
                 inplace=True,na_position='first')   #inplace =changes is permanent
print(df)

     name  degree  score
1  pankaj     BCA     40
2   sudir  M.Tech     80
0  aparna     MBA     90
3   geeku     MBA     90